.background{
    -fx-background-image: url("/IMAGE/triangle_pattern.png");
    -fx-background-color: #353535;

}

.text-area, .text-area .viewport, .text-area .content {
    -fx-text-fill: lightgrey;
    -fx-background-color: #4c4c4c ;
}

.closeButton{
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-background-radius: 0px;
}
.closeButton:hover{
    -fx-background-color: red;
    -fx-text-fill: #191919;
}

.normalButton{
    -fx-background-color: #474747;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #ad0f0f;
}

.normalButton:hover{
    -fx-background-color: #5e5e5e;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #e02828;
}

.textField{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #ad0f0f;
}